@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-sans), sans-serif;
  color: #ffffff;
  background-color: #0f172a;
  overflow-x: hidden;
}
